{% extends "base.html" %}
{% load embed_video_tags  thumbnail %}
{% block  title %}
{{object.name}}
{% endblock  %}
{% block content %}

<style type="text/css" media="screen">
    .gray {
        background: url("{{object.api.tmdb.backdrops|random}}");
        background-size:cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
}

 .fullhref:hover {
     cursor:pointer;
 }

</style>

<div class="container">

    <div class="columns ">
        
          <div class=" column ">
            <img src="{{object.image|default:"http://placehold.it/160x240"}}" class="ui centered medium image"/> 
          </div>

          <div class=" column">
              <div class="box mt-xl">
              
              <h1 class="title">
                {{ object.name }}  ( {{object.api.trakt.year}} )
              </h1>  
              <h2 class="subtitle">  {{object.get_type}}</h2>

              <div class="ui raised segment ">
                  <div class="ui horizontal header divider">
                    <h3>Sipnosis</h3>
                  </div>  
                  <p>{{object.desc}}</p>
                </div>
                <div class="ui raised segment">
                  <div class="ui columns mt-s">
                  
                 <div class="five wide column">
                    <div class="ui red large statistic">
                      <div class="value">
                      {{object.api.trakt.rating|floatformat}}  
                        <i class="thumbs up icon"></i>
                      </div>
                      <div class="label">
                        Calificación
                      </div>
                    </div>
                  </div>
                 <div class="five wide column">
                    <div class="ui blue large statistic">
                      <div class="value">
                      {{object.api.trakt.votes|floatformat}}  
                      </div>
                      <div class="label">
                        Votos
                      </div>
                    </div>
                  </div>


                  <div class="six wide column">
                    <h3 class="ui dividing header">Generos</h3>
                    <ul>
                    {% for i in object.api.trakt.genres %}
                    <li> {{i|capfirst}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="sixteen wide column">
                    <h3 class="ui dividing header">Alias</h3>
                    <ul>
                      {% for a in object.api.trakt.alias  %}
                      <li>
                          <i class="ui {{a.country}} flag" > </i> {{a.title}}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
          </div>

              </div>
                 
                </div>
          </div>
    </div>


    {% if   object.api.tvdb.fanarts%}
    <!-- fan arts -->
        <div class=" box">
                  <div class="columns">
                      <div class="sixteen wide column"> 

                        <div class="ui columns">
                        {% for p in object.api.tvdb.fanarts|slice:':8'  %}
                            {% if p %}
                            <div class="four wide column centered ">
                                {% thumbnail p  "300x200" as p %}
                                <img src="{{MEDIA_URL}}{{p}}" class="ui medium image" />
                                {% endthumbnail %}
                          </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                      </div>
                   </div>
        </div>
    {% endif %}

    {% if object.api.trakt.people %}
    <div class="box">
              <div class="ui grid columns">
                      <div class="sixteen wide column">
                        <h3 class="ui dividing header">Cast</h3>
                        <div class="ui columns ">
                        {% for p in object.api.trakt.people|slice:":8"  %}
                            {% if p.image %}
                                  <div class="four wide column centered ">
                                        <img src="{{p.image}}" class="ui small circular image" />
                                    <div class="ui middle aligned content centered">
                                      <p class="ui centered">
                                        {{p.name}}
                                      </p>
                                    </div>
                                  </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                  </div>
    </div>
    {% endif %}

    <div class="ui columns ">
          {% regroup object.entries.all|dictsortreversed:"season" by season as entries %}
          
            {% for each_entry in  entries %}
                <div class="ui horizontal header divider">
                    {% if object.type == 'ser' %}
                      <h3> Temporada {{each_entry.grouper }} </h3>
                    {% else %}
                      <h3> Pelicula </h3>
                    {% endif %}
                 </div>  
                    <div class="ui stackable cards link ">          
                    {% for  entry in each_entry.list %}
                            <div class=" ui card fullhref">
                                <div class="image img-holder">
                                  <img src="{{entry.image|default:"http://placehold.it/150x110"}}" class="ui centered  image "/>
                                </div>
                                
                                  {% if object.type == 'ser' %}
                                  <div class="content center aligned ">
                                     E{{entry.episode|default:"001"}}xS{{entry.season|default:"001"}}
                                  </div>
                                  {% endif %}
                                
                                  <div class="content center aligned">
                                    {% for re in entry.resources.all  %}
                                      <a href="{% url 'view' object.slug re.id re.quality%}" class="ui red label" > 
                                        {{re.quality}}
                                      </a>
                                      {% endfor %}
                                  </div>
                            </div>
                      {% endfor %}
                      </div>
            {% endfor %}
      </div>

          <div class="columns">
            <div class="nine wide column">
              
                    <div class="ui minimal centered comments">
                    <h3 class="ui dividing header">Comentarios</h3>
                      {% for c in object.api.trakt.comments  %}
                      <div class="comment">
                          <a class="avatar">
                            <img style="height:auto;" src="https://api.adorable.io/avatars/40x40/{{c.username}}.png" >
                          </a>
                          <div class="content">
                              <span class="author">
                                {{c.name|default:c.username}}
                              </span>
                              <div class="text">
                                  {{c.text}}
                              </div>
                          </div>
                      </div>      
                      {% endfor %}
                    </div>
              </div>
            <div class="six wide column">
                {% for i in object.api.tmdb.trailers%} 
                              {% video  i %}
                {% endfor %}

                
            </div>
            </div>
          </div>
        <div class="columns">
        {% for i in object.api.tmdb.posters|slice:"0:6"%} 
                <div class="ui five wide column">
                    {% thumbnail i '360x530'  as i %} 
                    <img src="{{i.url}}" class="ui spaced image" alt="{{object.title}}">
                    {% endthumbnail%}
                </div>
        {% endfor %}

        </div>
</div>

    <script>
        $(document).ready(function(){
            $(".fullhref").on("click",function(evnt){
                var href= $(this).find("a").attr("href");
                document.location.href=href;
            });
            });
    
    </script>


{% endblock %}
