{% extends "base.html" %}
{% block  title %}
{{object.name}}
{% endblock  %}
{% block content %}


<div class="ui stackable row grid ">
    
      <div class=" five  wide column img-holder">
        <img src="{{object.image|default:"http://placehold.it/160x240"}}" class="ui centered medium image"/> 
      </div>

      <div class="eleven wide column">
          <h1>
            {{ object.name }}  ( {{object.api.trakt.year}} )
          </h1>  
          <h2>  {{object.get_type}}</h2>

          <div class="ui raised segment ">
              <div class="ui horizontal header divider">
                <h3>Sipnosis</h3>
              </div>  
              <p>{{object.desc}}</p>
            </div>
            <div class="ui raised segment">
              <p>
                <div class="ui  statistic">
                  <div class="value">
                  {{object.api.trakt.rating|floatformat}}  
                    <i class="thumbs up icon"></i>
                  </div>
                  <div class="label">
                    Calificación
                  </div>
                </div>
              </p>
              <p>
                generos: 
                <ul>
                {% for i in object.api.trakt.genres %}
                <li> {{i|capfirst}}</li>
                  {% endfor %}
                </ul>
              </p>
              <p> cast {{object.api.trakt.cast|pprint}}</p>
              <p>
                alias 
                <ul>
                  {% for a in object.api.trakt.alias  %}
                    
                  <li>
                    <i class="ui {{a.country}} flag" /> {{a.title}}
                  </li>
                  {% endfor %}
                </ul>
              </p>
              <p> 
                comments 
                <ul>
                  {% for c in object.api.trakt.comments  %}
                    
                    <li>{{c.text}}</li>
                  {% endfor %}
                </ul>
              </p>

            </div>
      </div>
</div>
<div class="ui row ">
      {% regroup object.entries.all|dictsortreversed:"season" by season as entries %}
      
        {% for each_entry in  entries %}
        <div class="ui horizontal header divider">
            {% if object.type == 'ser' %}
              <h3> Temporada {{each_entry.grouper }} </h3>
            {% else %}
              <h3> Pelicula </h3>
            {% endif %}
         </div>  
        <div class="ui stackable cards  ">          
            {% for  entry in each_entry.list %}
                    <div class=" ui card">
                        <div class="image img-holder">
                          <img src="{{entry.image|default:"http://placehold.it/150x110"}}" class="ui centered  image "/>
                        </div>
                        
                          {% if object.type == 'ser' %}
                          <div class="content center aligned ">
                             E{{entry.episode|default:"001"}}xS{{entry.season|default:"001"}}
                          </div>
                          {% endif %}
                        
                          <div class="extra content center aligned">
                            {% for re in entry.resources.all  %}
                              <a href="{% url 'view' object.slug re.id '720p'%}" class="ui red label"> 
                                {{re.quality}}
                              </a>
                            {% endfor %}
                        </div>

                    </div>
              {% endfor %}
          </div>
        {% endfor %}
</div>
{% endblock %}
