{% extends "base.html" %}
{% block  title %}
{{object.name}}
{% endblock  %}
{% block content %}


<div class="ui stackable row grid ">
    
      <div class=" five  wide column img-holder">
        <img src="http://placehold.it/160x240" class="ui centered medium image"/> 
      </div>

      <div class="eleven wide column">
          <h1>
            {{ object.name }}  
          </h1>  
          <h2>  {{object.get_type}}</h2>

          <div class="ui raised segment ">
              <div class="ui horizontal header divider">
                <h3>Sipnosis</h3>
              </div>  
              <p>{% lorem   %}</p>
          </div>
      </div>
    
</div>
<div class="ui row ">
      {% regroup object.entries.all|dictsortreversed:"season" by season as entries %}
      
        {% for each_entry in  entries %}
        <div class="ui horizontal header divider">
            {% if object.type == 'ser' %}
              <h3> Temporada {{each_entry.grouper }} </h3>
            {% else %}
              <h3> Pelicula </h3>
            {% endif %}
         </div>  
        <div class="ui stackable cards  ">          
            {% for  entry in each_entry.list %}
                    <div class=" ui card">
                        <div class="image img-holder">
                          <img src="http://placehold.it/150x110" class="ui centered  image "/>
                        </div>
                        
                          {% if object.type == 'ser' %}
                          <div class="content center aligned ">
                             E{{entry.episode|default:"001"}}xS{{entry.season|default:"001"}}
                          </div>
                          {% endif %}
                        
                        <div class="extra content center aligned">
                          <a href="{% url 'view' object.slug entry.id '720p'%}" class="ui red label"> 720p</a>
                          <a href="{% url 'view' object.slug entry.id '1080p'%}" class="ui blue label"> 1080p</a>
                        </div>

                    </div>
              {% endfor %}
          </div>
        {% endfor %}
</div>
{% endblock %}
