{% extends "base.html" %}

{% block content %}
	<div class="ui  four  column centered grid">
	    	
		<div class="two column ">
        	<h1>
		        <a href="{% url 'detail' object.entry.media.slug %}">{{object.entry.media.name}}</a>
            </h1>
                {% if object.entry.episode %}
                        {{object.entry.episode}}x{{object.entry.season|default:""}}
                {% endif %}
                {% if "googlephoto" in object.source %}
                 <video class="mejs__player">
                    <source src="{{object.original_url}}" type="video/mp4"></source>
                    {% for sub in object.subtitles.all  %}
                    <track kind="captions" label="{{sub.language}}" srclang="{{sub.language}}" src="{{sub.file.url}}" />
                    {% endfor %}
                </video>

                               {% else %}
                        
                        {{object.code|safe}}
                {% endif %}
        </div>
            
	</div>
	<div class="ui row">
		<div class="eight grid">
			<div class="eight wide column">
				<span>Calidad {{object.quality}}</span>
			</div>
			<div class="eight wide column">
				<span>Fuente {{object.source}}</span>
				<ul>
				{% for re in object.get_other_sources  %}
					<li>
						<a href="{% url 'view' object.entry.media.slug re.id re.quality%}">{{re.source}} {{re.quality}}</a>
					</li>
				{% endfor %}
					
				</ul>
			</div>
		</div>
	</div>
	
{% endblock content %}
