{% extends "base.html" %}

{% block content %}
	<div class="ui  stackable sixteen  grid  row">
		
		<div class="row column centered ">
        	<h1>
		        <a href="{% url 'detail' object.entry.media.slug %}">{{object.entry.media.name}}</a>
            </h1>
                {% if object.entry.episode %}
                        {{object.entry.episode}}x{{object.entry.season|default:""}}
                {% endif %}
                <div class="divider"></div>
                {% if "googlephoto" in object.source %}
                <video controls>
                    {% for sub in object.subtitles.all  %}
                    <track kind="subtitles" label="{{sub.language}}" src="{{sub.file}}"></track>
                    {% endfor %}
                </video>
                {% else %}
                        
                        {{object.code|safe}}
                {% endif %}
        </div>
            
	</div>
	<div class="ui row">
		<div class="eight grid">
			<div class="eight wide column">
				<span>Calidad {{object.quality}}</span>
			</div>
			<div class="eight wide column">
				<span>Fuente {{object.source}}</span>
				<ul>
				{% for re in object.get_other_sources  %}
					<li>
						<a href="{% url 'view' object.entry.media.slug re.id re.quality%}">{{re.source}} {{re.quality}}</a>
					</li>
				{% endfor %}
					
				</ul>
			</div>
		</div>
	</div>
	
{% endblock content %}
