<div class="ui pagination menu">
        {% if page_obj.has_previous %}
        <span class="item">
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            </span>
        {% endif %}
     

        <span class="item active">
             {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>
	
        {% if page_obj.has_next %}
        <span class="item">
            <a href="?page={{ page_obj.next_page_number }}">next</a>
         </span>
        {% endif %}
        
    
</div>