<div class="pagination is-centered" role="navigation" aria-label='pagination'>
        {% if page_obj.has_previous %}
        <a  class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
         {% if page_obj.has_next %}
            <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    
        <ul class="pagination-list">
            <li class="pagination-link">
              {{ page_obj.number }}
          </li>
            <li> de</li>
            <li class="pagination-link">
            {{ page_obj.paginator.num_pages }}

            </li>
        </ul>
	
</div>
