<html>
	<head>
    <title>
      {% block title  %}
       Inicio 
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{STATIC_URL}}semantic/dist/semantic.min.css" />

  </head>
<body class="ui inverted">

 <div class="ui inverted menu">
  <a class=" item" href="{% url 'home' %}">
    Home
  </a>
  <a class="item right floated" href="">
    busqueda
  </a>
</div>

	
<div class="ui container">

{% block content  %}
  
{% endblock %}		



</div>
	<script type="text/javascript" src="{{STATIC_URL}}vue/dist/vue.min.js"></script>
</body>
</html>
