<html>
	<head>
		<title>Home</title>
    <link rel="stylesheet" href="{{STATIC_URL}}semantic/dist/semantic.min.css" />

    <style type="text/css" media="all">
      .card > .image  {
        height:210px;
      }

      .card > .image  img {
        height:210px;
      }
    </style>
  </head>
<body class="ui inverted">

 <div class="ui inverted menu">
  <a class=" item">
    Home
  </a>
  <a class="item right floated" href="">
    busqueda
  </a>
</div>

	
<div class="ui container">

{% block content  %}
  
{% endblock %}		



</div>
	<script type="text/javascript" src="{{STATIC_URL}}vue/dist/vue.min.js"></script>
</body>
</html>
